/*Fonts*/

h1 {
    font-family: 'Inter', sans-serif;
}

p {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
}

.statusBar {
  text-align: center;
}

/*Header*/ 
.flex-container {
    display: flex;
    justify-content: space-between;
  }


.divider {
    display: flex;
    align-items: center;
  }

  .divider::before, .divider::after {
    flex: 1;
    content: '';
    padding: 1px;
    background-color: #A0A0A0;
  }

button {
    width: 100%;
    justify-content: center;
    text-align: center;
    align-items: center;
    background-color: white;
    padding: 14px;
}

.inline-block {
    display: inline-block;
    justify-content: space-between;
    width: 100%;
}

.flex-container3 {
  display: flex;
  justify-content: space-between;
    
}

.btn {
    display: flex;
    font-size: 18px;
    font-family: 'Inter';
    color: #962BBD;
    border-style:dashed;
    border-color: #962BBD;
    border-radius: 3px;

}
.person {
    padding-right: 5px;
}

.icon-bar {
  width: 100%; /* Full-width */
  background-color: #D9D9D9; /* Dark-grey background */
  overflow: auto; /* Overflow due to float */
}

.icon-bar a {
  float: left; /* Float links side by side */
  text-align: center; /* Center-align text */
  width: 25%; /* Equal width (4 icons with 20% width each = 100%) */
  padding: 12px 0; /* Some top and bottom padding */
}
.flex-box-note {
display: flex;
justify-content: right;
padding: 5%;
}

.flex-container2 {
  display: flex;
  justify-content: space-between;
  background-color: #f9f9f9;

}

.inline-block2 {
  display: inline-block;
}


#search {
  text-align: center;
  background-color: #f9f9f9;

}


.list-group-item {
  color: black;
  font-size: 17px;
  line-height: 37px;
  font-family: 'Inter';

}

li {
  list-style-type: none;
}

ul {
  padding-left: 0% !important;
}

.active {
  background-color:#A0A0A0;
}

/*Jumbotron*/

.jumbotron-fluid {
  margin-left: 5%;
  margin-right: 5%;
}

.container {
  display: flex;
  justify-content: center;
  padding-top:50%;
}

.quote {
  padding-top: 10%;
  text-align: center;
  line-height:33.6px;
}

footer {
position:fixed;
bottom: 0%;
width: 100%;
}
















